*{
    margin: 0;
    padding: 0;
}
.div{
  position: relative;
  bottom: 0;
  padding-top: 150px;
  padding-left: 300px
  width: 300px;
  border: 3px solid navy;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}