.title {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.bottom
{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
}
.div{
  position: relative;
  bottom: 0;
  padding-top: 0px;
  padding-left: 0px
  vertical-align:left;
  width: 500px;
  border: 3px solid navy;
}
.outer {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: 440px;
  margin-right: auto;
  width: 200px;
  /*whatever width you want*/
}